<!DOCTYPE html>
<html>
<head>
    <title>Weather Result</title>
</head>
<body>
    <h1>Weather in <%= weather.name %></h1>
    <p>Temperature: <%= weather.main.temp %> °C</p>
    <p>Weather: <%= weather.weather[0].description %></p>
    <a href="/">Check another city</a>
</body>
</html>
